<div class="support-container">
  <aside class="sidebar">
    <div class="logo-inside">
      <img src="/assets/logo.jpg" alt="Grab-A-Bite Logo" />
      <h2>Grab-A-Bite</h2>
    </div>
    <br />
    <ul class="sidebar-menu">
      <li><a routerLink="/personal-info">Profile</a></li>
      <li><a routerLink="/view-issues">View All Issues</a></li>
    </ul>
    <button class="logout-button" (click)="logout()">Logout</button>
  </aside>
  <div class="support-main">
    <h1>Support Dashboard</h1>
    <div class="welcome-box">
      Welcome to the Food Ordering Support Dashboard
    </div>
    <div class="info-box">
      This Support Dashboard helps to solve the issues of the customers. You can view all the issues raised by the customers and also you can view the details of each issue.
      You can also update the status of the issues.
    </div>
  </div>
</div>
