<nav class="navbar navbar-expand-md navbar-dark bg-dark vw-100">
  <a class="navbar-brand" routerLink="/viewRestaurants" href="#">FoodZoneApp</a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewRestaurants" href="#">View Restaurants</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewMenuItems" href="#">View Menu Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addMenuItem" href="#">Add Menu Item</a>
      </li>
    </ul>
  </div>
</nav>
